nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
ul{
    display: flex;
    gap:2cm;
    list-style:square;
}
body{
        color: white;
}